#root {
  max-width: 1280px;
  text-align: center;
}

.bubble-game {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #282828;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bubble {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
  user-select: none;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-bottom: 20px;
}